.outer{
    width: 18vw;
    height: 5vh;
    /*background-color: #464646;*/
    margin-left: 1vw;
    margin-top: 0.6rem;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.item{
    
    color: white;
    font-family: 'Poppins';
    font-weight: 700;
    margin-left: 1.8rem;
    
}