.outer{
    position: relative;
    width: fit-content;
    height: 10vh;
}

.image{
    position: absolute;
    width: 12%;
    top: 12%;
    bottom:0;
    left: 3%;
}

.input{
    background-color: #2d2d2d;
    font-size: 1.2rem;
    border: none;
    padding: 0.9rem 0.9rem 0.9rem 4rem;
    font-family: 'Poppins';
    font-weight: 600;
    color: white;
    border-radius: 8px;
    
}

.input::placeHolder{
    color: #AEAEAE;
    padding: 0.9rem 0.9rem 0.9rem 0;
}