.itemTile{
    width: 38vw;
    height: 2.5rem;
    display: flex;
    margin-top: 0.6rem;
    margin-left: 1rem;
    

}

.count{
    background-color: #726F6F;
    border-radius: 6px 0px 0px 6px;
    padding: 10px;
    color: #fff;
    font-family: 'Roboto';
}


.item{
    background-color: #292C2D;
    width: 34vw;
    height: 2.5rem;
    border-radius: 0px 6px 6px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.itemName{
    color: #fff;
    margin-left: 10px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
}

.price{
    color: #fff;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
}