.outer{
    height: 38vh;
    width: 35vw ;
    padding: 0 10px;
    background-color: #464646;
    margin-left:1rem;
    border-radius: 8px;
    
}
.paymentCategories{
    width: 35vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.SubTotal{
    width: 32vw;
    height: 2rem;
    margin: 15px 1.5vw 0px;
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-family: 'Roboto';
    align-items: center;
    font-weight: 700;

}

.tax{
    width: 32vw;
    height: 2rem;
    margin:5px 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-family: 'Roboto';
    align-items: center;
    border-bottom: 1px solid #fff;
    font-weight: 400;
}

.totalPayment{
    width: 34vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    
}
 
.paymentTile{
    color: #fff;
    font-size: 19px;
    margin-bottom: 5px;

}  
.totalPrice{
    font-weight: 700;
    padding:0.8rem 3rem;
    font-size: 18px;
    background-color: #fff;
    border-radius: 14px;
    cursor: pointer;
    border-color: white;

}